body{
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    border-bottom: 1px solid #dedede;
}
.header{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-logo{
    display: block;
    background-image: url(../img/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    transition: all 0.3s ease;
}
.header-nav a:hover{
    color: #FFC725;
}
.header-nav a::after{
    content:'';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after{
    background: #FFC725;
}
.button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item{
    position: relative;
}
.button-count{
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background-color:#F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text{
    font-weight: 700;
    font-size: 15px;
}
.bg{
    color: #FFFFFF;
    text-align: center;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs{
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #dedede;
    font-size: 15px;
}
.breadcrumbs a:hover{
    color: #FFC725;
}
.breadcrumbs a::before{
    content:'/';
    left: -3px;
    position: relative;
    pointer-events: none;
}
.breadcrumbs a:hover::before{
    color: #dedede;
}
.breadcrumbs li:first-child a::before{
    display: none;
}
.title{
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #f9f9f9;
    max-width: 320px;
    margin: 0 auto;
    
}
.banner{
    margin-bottom: 100px;
}
.banner-box{
    background-image:url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px;
    font-family: 'Nunito Sans', sans-serif;
}
.banner-description{
    width: 329px;
}
.banner-title{
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 17px;
}
.banner-title span{
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: 5px 20px 5px 17px;
    background-color: #F37335;
    font-weight: 600;
    font-size: 14px;
    width: 59px;
    border-radius: 14px;
    text-align: center;
    margin-bottom: 6px;
}
.banner-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FAF9F9;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.5;
}
.banner-link{
    width: 170px;
    color: #1E2F40;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #FBB731;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
}
.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.menu-title{
    margin: 0;
    color: #1B2A49;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
}
.menu-select{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #DEDEDE;
    border-radius: 22px;
    font-weight: 400;
    font-size: 15px;
    padding: 12px 30px;
    color: #443737;
    flex-basis: 279px;
    appearance: none;
    background-image:url(../img/arrow.svg);
    background-size:12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-row-gap:50px;
    margin-bottom: 100px;
}
.menu-grid-cover{
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img{
    width: 100%;
    height: 430px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-grid-item{
    text-align: center;
}
.menu-grid-title{
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 12px;
}
.menu-grid-price{
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    margin: 0;
    margin-bottom: 22px;
}
.menu-grid-btn{
    width: 152px;
    height: 38px;
    gap: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FBB731;
    border: transparent;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
.menu-grid-icon img{
    width: 18px;
    height: 18px;
}
.menu-grid-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    padding:0;
}
.menu-grid-extra{
    margin-bottom: 138px;
}
.footer{
    background:#1E2F40;
    color:#FFFFFF;
    padding-top: 114px;
    padding-bottom: 106px;
}
.footer-logo{
    width: 63px;
    height: 56px;
}
.footer-item h2{
    font-size: 20px;
    font-weight: 800;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;
}
.footer-item li{
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:#FAF9F9;
    font-weight: 700;
}
.footer-item a{
    color: #DEDEDE;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;

}
.footer-item span{
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-item ul{
    line-height: 24px;
}
.footer-tel{
    color: #FBB731;
    line-height: 38px;
    font-size: 20px;
    font-weight: 900;
}
.footer-tel li{
    margin-bottom: 2px;
}
.footer-box{
    display: flex;
    justify-content: space-between;
}
.footer-list{
    padding-left: 0;
    list-style-type:none;
    margin-top: 0;
}